@font-face {
    font-family: "raleway-grid";
    src: url('../fonts/RalewayRegular.woff') format('opentype');
}

@font-face {
    font-family: "raleway-extra";
    src: url('../fonts/RalewayExtraBold.woff') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: "raleway-bold";
    src: url('../fonts/RalewayBold.woff') format('opentype');
}

@font-face {
    font-family: "raleway-intro";
    src: url('../fonts/IntroRegular.woff') format('opentype');
}